<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="S_CAR.Properties.Settings.S_CardbConnectionString"
            connectionString="Data Source=ADMIN-ПК;Initial Catalog=S_Cardb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="S_CAR.Properties.Settings.masinConnectionString" connectionString="Data Source=ADMIN-ПК;Initial Catalog=masin;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="S_CAR.Properties.Settings.Masin_modelConnectionString"
            connectionString="Data Source=ADMIN-ПК;Initial Catalog=Masin_model;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="S_CAR.Properties.Settings.S_CARS_MASIN_AD_MODELConnectionString"
            connectionString="Data Source=ADMIN-ПК;Initial Catalog=S_CARS_MASIN_AD_MODEL;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>